<ng-container *ngIf="layoutVersion === LayoutVersion.AngularMaterial">
  <mat-toolbar color="primary" class="desktop-toolbar">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/">Home Expenses</a>
    <div
      *ngIf="tokenAuthService.isValidAccessToken()"
      class="d-flex flex-grow-1 align-items-center justify-content-end"
    >
      <a *ngIf="!isMobile" routerLinkActive="active" [routerLink]="['/settings']" class="desktop-settings-link me-2">
        <div class="d-flex flex-column align-items-center">
          <mat-icon matTooltip="Settings" [matTooltipPosition]="'below'">settings</mat-icon>
        </div>
      </a>
      <button type="button" class="btn btn-danger" (click)="signout()">Sign out</button>
    </div>
  </mat-toolbar>

  <div class="page-wrapper">
    <mat-sidenav-container
      *ngLet="tokenAuthService.isValidAccessToken(); let isValidAccessToken"
      class="desktop-sidenav-container"
    >
      <mat-sidenav
        class="desktop-sidenav"
        [style.width.px]="isMobile ? 0 : isSidenavCollapsed ? collapsedWidth : expandedWidth"
        mode="side"
        [opened]="true"
        [autoFocus]="false"
      >
        <mat-nav-list class="nav-list">
          <a
            mat-list-item
            routerLinkActive="active-link"
            [routerLink]="isValidAccessToken ? ['/all-expenses'] : null"
            [disabled]="!isValidAccessToken"
          >
            <ng-container [ngSwitch]="isSidenavCollapsed">
              <ng-container *ngSwitchCase="false">
                <div class="menu-item-content-expanded-desktop">
                  <mat-icon>payments</mat-icon>
                  <span class="ps-2">All expenses</span>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="true">
                <div class="menu-item-content-expanded-desktop">
                  <mat-icon matTooltip="All expenses" [matTooltipPosition]="'right'">payments</mat-icon>
                </div>
              </ng-container>
            </ng-container>
          </a>

          <a
            mat-list-item
            routerLinkActive="active-link"
            [routerLink]="isValidAccessToken ? ['/expenses'] : null"
            [disabled]="!isValidAccessToken"
          >
            <ng-container [ngSwitch]="isSidenavCollapsed">
              <ng-container *ngSwitchCase="false">
                <div class="menu-item-content-expanded-desktop">
                  <mat-icon>paid</mat-icon>
                  <span class="ps-2">Expenses</span>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="true">
                <div class="menu-item-content-expanded-desktop">
                  <mat-icon matTooltip="Expenses (Simple)" [matTooltipPosition]="'right'">paid</mat-icon>
                </div>
              </ng-container>
            </ng-container>
          </a>

          <div class="last-menu-div">
            <a mat-list-item (click)="toggleSidenav()">
              <ng-container [ngSwitch]="isSidenavCollapsed">
                <ng-container *ngSwitchCase="false">
                  <div class="menu-item-content-expanded-desktop">
                    <mat-icon>keyboard_double_arrow_left</mat-icon>
                    <span class="ps-2">Collapse</span>
                  </div>
                </ng-container>

                <ng-container *ngSwitchCase="true">
                  <mat-icon matTooltip="Expand" [matTooltipPosition]="'right'">keyboard_double_arrow_right</mat-icon>
                </ng-container>
              </ng-container>
            </a>
          </div>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content [style.margin-left.px]="isMobile ? 0 : isSidenavCollapsed ? collapsedWidth : expandedWidth">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <mat-toolbar class="mobile-toolbar">
    <mat-nav-list class="mobile-nav-list">
      <a
        class="p-0 flex-grow-1"
        mat-list-item
        routerLinkActive="active-link"
        [routerLink]="tokenAuthService.isValidAccessToken() ? ['/all-expenses'] : null"
        [disabled]="!tokenAuthService.isValidAccessToken()"
      >
        <div class="d-flex flex-column align-items-center">
          <mat-icon>payments</mat-icon>
          <span>All expenses</span>
        </div>
      </a>
      <a
        class="p-0 flex-grow-1"
        mat-list-item
        routerLinkActive="active-link"
        [routerLink]="tokenAuthService.isValidAccessToken() ? ['/expenses'] : null"
        [disabled]="!tokenAuthService.isValidAccessToken()"
      >
        <div class="d-flex flex-column align-items-center">
          <mat-icon>paid</mat-icon>
          <span>Expenses (Simple)</span>
        </div>
      </a>
      <a
        class="p-0 flex-grow-1"
        mat-list-item
        routerLinkActive="active-link"
        [routerLink]="tokenAuthService.isValidAccessToken() ? ['/settings'] : null"
        [disabled]="!tokenAuthService.isValidAccessToken()"
      >
        <div class="d-flex flex-column align-items-center">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-toolbar>
</ng-container>

<ng-container *ngIf="layoutVersion === LayoutVersion.Standard">
  <ng-container *ngIf="!configService.config.featureFlags.multiTabMode; else multiTabSolution">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #multiTabSolution>
    <ng-container [ngSwitch]="isAppAvailable">
      <ng-container *ngSwitchCase="true">
        <app-header></app-header>
        <router-outlet></router-outlet>
      </ng-container>

      <div *ngSwitchCase="false">
        <p data-test-id="warning">WARNING: Multi tab usage is not allowed.</p>
        <p>You can see that warning because you are trying to open App in another tab.</p>
        <p>If you are sure there is no any opened tab you will be reloaded in {{ timeLeft }}s...</p>
      </div>
    </ng-container>
  </ng-template>
</ng-container>
