.active-link {
  background-color: #ccc; /* Change to desired highlight color */
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

.sidenav-content {
  display: flex;
  flex: 1; /* Fill remaining space */
  flex-direction: column;
}

.main-content {
  flex: 1; /* Fill remaining space */
  overflow-y: auto; /* Enable scrolling if content exceeds available height */
}
