/*
 * Author: Vladimir Vysokomornyi
 */

.desktop-toolbar {
  display: flex;
  align-items: center;
  height: 50px;

  .desktop-settings-link {
    text-decoration: none; /* Remove underline for the link */
    display: flex;
    color: white;
  }
  .desktop-settings-link.active mat-icon {
    filter: grayscale(100%); /* Apply grayscale filter to the mat-icon when link is active */
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);

  .desktop-sidenav-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .desktop-sidenav {
      .nav-list {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        .menu-item-content-expanded-desktop {
          display: flex;
          align-items: center;
        }

        .last-menu-div {
          display: flex;
          flex-direction: column;
          justify-content: end;
          height: calc(100% - 50px);
        }
      }
    }
  }
}

.active-link {
  background-color: #ccc; /* Change to desired highlight color */
}

.mobile-nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  span {
    font-size: small;
  }
}

.mobile-toolbar {
  padding-left: 0;
  padding-right: 0;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .page-wrapper {
    height: calc(100% - 100px);
  }
}
@media screen and (min-width: 769px) {
  .mobile-toolbar {
    display: none;
  }
}
