<div class="p-3 h-100">
  <h1>{{ 'allExpenses' | translate }}</h1>
  <form [formGroup]="form" class="w-100">
    <div class="d-flex justify-content-between form-direction">
      <div class="mx-3 flex-grow-1 w-100">
        <label for="date" class="form-label">{{ 'date' | translate }}:</label>
        <input id="date" class="form-control" type="date" formControlName="date" />
      </div>

      <div class="mx-3 flex-grow-1 w-100">
        <label for="category" class="form-label">{{ 'category' | translate }}:</label>

        <select id="category" class="form-select" formControlName="category">
          <option [value]="'food'">Food</option>
          <option [value]="'housing'">Housing</option>
          <option [value]="'transportation'">Transportation</option>
        </select>
      </div>

      <div class="mx-3 flex-grow-1 w-100">
        <label for="cost" class="form-label">{{ 'cost' | translate }}:</label>
        <input id="cost" class="form-control" type="number" formControlName="cost" />
      </div>

      <div class="mx-3 flex-grow-1 w-100">
        <label for="comment" class="form-label">{{ 'comment' | translate }}:</label>
        <input id="comment" class="form-control" formControlName="comment" />
      </div>
    </div>

    <div class="mx-3 mt-2 d-flex justify-content-between form-direction actions-container">
      <div class="action-buttons">
        <button (click)="save()" type="button" class="btn btn-primary">{{ 'add' | translate }}</button>
      </div>
    </div>
  </form>

  <ng-container *ngIf="isLoading$ | async; else showContent">
    <ng-container *ngTemplateOutlet="spinner"></ng-container>
  </ng-container>

  <!--  For testing spinner-->
  <!--  <ng-container *ngTemplateOutlet="spinner">-->
  <!--  </ng-container>-->

  <ng-template #showContent>
    <ng-container *ngIf="expenses$ | async as expenses">
      <h6>{{ 'showing_records' | translate : { count: expenses.length } }}</h6>
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'date' | translate }}</th>
            <th>{{ 'category' | translate }}</th>
            <th>{{ 'cost' | translate }}</th>
            <th>{{ 'comment' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses">
            <td>{{ getFormattedDate(expense.date) }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.comment }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-template>
</div>

<ng-template #spinner>
  <div class="spinner-wrapper d-flex justify-content-center align-items-center flex-column">
    <div class="spinner spinner-border text-muted"></div>
  </div>
</ng-template>
