PORT=__PORT__
UI_URL=__UI_URL__
DB_PORT=__DB_PORT__
DB_HOST=__DB_HOST__
DB_NAME=__DB_NAME__
DB_USERNAME=__DB_USERNAME__
DB_PASSWORD=__DB_PASSWORD__
MAIL_SMTP_SERVICE=__MAIL_SMTP_SERVICE__
MAIL_USERNAME=__MAIL_USERNAME__
MAIL_APP_PASSWORD=__MAIL_APP_PASSWORD__